.App {
  text-align: center;
  background-color: #32e299;
  background-image: url('https://img.freepik.com/premium-photo/flat-lay-pink-orchids-with-copy-space_23-2148615357.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}





.App-header {
  background-color: #52b189;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}




